*{
	margin:0;
	padding:0;
	font-family:B Yekan,B farnaz;
	
}

body{
	background-color:#ededed;
	position: relative;
}
option{
	margin-right:0.5em;
}

.mainpage-agahi-effect{
	border:0.1em solid #ccc;
}
.indicator-image{
	display:inline;
	background:white;
	width:10.7%;
	height:3.5em;
	min-width:5.2em;
}
.indicator-active{
	border-right:0.2em solid #2EC866;
	border-bottom:0.2em solid #2EC866;
	border-left:0.2em solid #2EC866;
}
.indicator-image:hover{
	cursor:pointer;
}

.nav-active a{
	background-color:#1C2127;
}
#navbar{
	background-color:#39424E;
	margin-bottom:5em;
	border-bottom:0.25em solid #2EC866;
	margin-bottom:5em;
	
	
}
#navbar a{
	color:white;
}
#navbar-row{
	background-color:black;
	margin-bottom:5em;
}
#logo{
	margin-top:-0.5em;
}
#main-page-content{
	min-height:50em;
}
#modal-close{
	margin-top:-1.5em;
	
}
a:hover{
	text-decoration:none;
	cursor:pointer;
}
#ghavanin-register-form-label{
	margin-right:0.5em;
}

#register-button-of-form{
	background-color:#ececec;
}
.modal-header{
	background: #ededed;
	border-radius:0.4em 0.4em 0 0;
}
.modal-footer{
	text-align: right;
	
}
#remember-me-label{
	margin-right:0.5em;
	
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width:54em;
	  margin:auto;  
  }
  .car-name-on-carousel{
	font-size:2em;
	background-color:black;
	opacity:0.5;
	color:#F2AA00;
  }
.car-price-on-carousel{
	font-size:2.5em;
	background-color:black;
	opacity:0.5;
	color:#F2AA00;
	
}
 .car-name-on-carousel-xs{
	font-size:1.2em;
	background-color:black;
	opacity:0.5;
	color:#F2AA00;
 }

.car-price-on-carousel-xs{
	font-size:1.3em;
	background-color:black;
	opacity:0.5;
	color:#F2AA00;
}
.panel-heading{
	font-size:1.4em;
	
}
#sabt-raygan-agahi{
	margin-bottom:1.1em;
	color:white;
	background-color:#2EC866;
}
#myCarousel{
	border-bottom:0.2em solid #2EC866;
}


#select-ostan,#select-city,
#select-type,#select-brand,
#select-model,#price-from,
#price-to{
	margin-bottom:0.78em;
	font-size:0.95em;
}
#price-from,#price-to{
	border:0; 
	color:#751947; 
	font-weight:bold;
	width:10em; 
	display:inline-block;
	background:#ededed;
		
}
#search-button-of-filter-panel{
	margin-top:1.8em;
	margin-bottom:0.2em;
	margin-right:9.4em;
	background-color:#2EC866;
	font-size:0.95em;
	
	
}
.mainpage-agahi{
	margin-bottom:1em;	
	padding-top:1em;
	padding-bottom:0.7em;
	
}
.details-container{
	padding-top:0.5em;
	
}
.price-of-mainpage-agahi{
	text-align:center;
	font-size:1.1em;
	padding:0.2em;
	background:#39424E;
	color:#ededed;
	border-radius:0.1em;
	
}
.name-of-mainpage-agahi{
	text-align:center;
	display:block;
	color:#444;
	font-size:0.95em;
}
.description-of-mainpage-agahi{
	text-align:center;
	display:block;
	color:#444;
	font-size:0.95em;
}
#footer-row{
	background-color:#39424E;
	color:#ededed;
	border-top:0.4em solid #1C2127;
	position: relative;
	bottom: 0;
}
#footer-content{
	padding-top:1em;
	padding-bottom:1em;
	border-bottom:0.1em solid #1C2127;
}
#footer-row li{
	display:block;
	margin:1em 0 1em 0;

}
#footer-row a{
	color:#ededed;
	font-size:0.95em;
}
#footer-row a:hover{
	color:#2EC866;
}
#footer-row .footer-active-item{
	color:#2EC866;
	text-decoration:none;
}
#mypages-group{
	margin-top:1em;
}
#mypage-twitter,
 #mypage-facebook,
 #mypage-instagram,
 #mypage-googleplus{
	margin-left:0.5em;
	margin-bottom:0.5em;
}
#mypage-twitter:hover,
 #mypage-facebook:hover,
 #mypage-instagram:hover,
 #mypage-googleplus:hover{
	
	opacity:0.6;
}
#footer-warning{
	font-size:0.9em;
	color:white;
	text-align:center;
	border-top:0.1em solid #656565;
	padding-top:1em;
	padding-bottom:0.5em;
}
#search-head{
	margin:0.6em 1em 0 1em;
	float:right;
	padding:8px;
}

	
}
#captcha{
	margin:23px 0 0 0;
	height:30px;
}
#img-captcha{
	height:30px;
}
.err{
	color:red;
	font-size:20px;
}
.success{
	font-size:20px;
	text-align:center;
	
}
.back-to-insert{
	font-size:20px;
	text-align:center;
	color:blue;
}
.description{
	background:white;
	min-height:40em;
	margin-bottom:20px;
	border:solid 1px #ddd;
	border-radius:5px;
	}
.cm{
	margin-bottom:10px;
}

}